@page
@model SistemaPrecos.Web.Pages.MainUtilizadorModel

<h2>Bem-vindo Utilizador</h2>

<!-- Link simples -->
<a href="/Produtos/Comparar">Comparar Preços</a>

<br /><br />

<!-- Botão para registar preço -->
<a href="/Produtos/RegistarPreco" class="btn btn-primary">Registar Novo Preço</a>
